body {
  background: #eee;
  font-family: sans-serif;
}

.title {
  margin: 0px;
  margin: 0 0 10px;
  padding: 10px;
  background: #e3f4ff;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  border: 10px solid white;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  border-width: 10px 0 0 0;
  border-style: solid;
  border-color: white;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
}